body {
	font-family: "Arial", sans-serif;
}

.axis {
	font-size: 13px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: darkred;
}

.label {
	font-size: 13px;
}